html, body, .container {
  height: 100%;
}

body {
  background-color: #586e75;
}

.container {
  display: table;
  vertical-align: middle;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.nav a {
  color: #fdf6e3;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.landing {
  background-image: url(../images/franconia.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing .container {
  position: relative;
  top:100px;
}

.landing h1 {
  color: #fdf6e3;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.landing p {
  font-size: 20px;
  color: #fdf6e3;
}

.theme1 {
  background-color: #eee8d5;
  horizontal-align: middle;
  height: fit;
}

.theme1 a {
  color: #586e75;
  font-weight: bold;
  padding: 14px 10px;
}

.theme1 h2 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #586e75;
}

.theme1 h3 {
  font-family: 'Shift', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #586e75;
}

.theme1 p {
  color: #586e75;
}

.theme2 {
  horizontal-align: middle;
  height: fit;
}

.theme2 a {
  color: #fdf6e3;
  font-weight: bold;
  padding: 14px 10px;
}

.theme2 h2 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fdf6e3;
}

.theme2 h3 {
  font-family: 'Shift', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fdf6e3;
}

.theme2 p {
  color: #fdf6e3;
}

div.companylogo {
  min-width: 400px;
}

img.companylogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.refresh a {
  color: #fdf6e3;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}